$font-text: 'Abel', sans-serif;
$font-header: 'Libre Baskerville', serif;

/*GLOBAL*/
h1 {
  margin: 0;
}
body {
  margin: 0;
}
.container {
  text-align: center;
}

/*HEADER*/

header {
  background-image: url("../images/1.jpg");
  background-position: center center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;

  .website-logo {
  }

  ul {
    margin: 0;
    list-style-type: none;
    li {
      display: inline-block;
      padding: 0 5px;
    }
  }
}

.splash {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}

/* SERVICES */

.services-box-icon {
  padding: 30px;
  span {
    border-radius: 50%;
    border: solid 3px;
    border-color: green;
    padding: 15px;

  }
  i {
    font-size: 20px;
    color: green;
    line-height: 50%;
  }
}
