$font-text: 'Abel', sans-serif;
$font-header: 'Libre Baskerville', serif;
$color-grey: #B1C2D1;
$color-light: #FFFFFF;
$color-gold: #DBE46E;

/*GLOBAL*/
h1, h2, h3, h4, h5 {
  margin: 0;
  font-family: $font-header;
}
p {
  font-family: $font-text;
}
body {
  margin: 0;
}
.container {
  text-align: center;
}
a:link, a:visited, a:active, a:hover {
  text-decoration: none;
}

/*HEADER*/

header {
  background-image: url("../images/2.jpg");
  background-position: center center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 40px 20px;
  align-items: center;

  .website-logo {
    color: $color-gold;
  }

  ul {
    margin: 0;
    list-style-type: none;
    li {
      display: inline-block;
      padding: 0 5px;
    }
  }
}

.splash {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);

  .btn-one {

  }
}

.btn {
  color: $color-light;
}
/* SERVICES */

.services-box-icon {
  span {
    display: inline-block;
    border-radius: 50%;
    border: solid 3px;
    border-color: green;
    padding: 30px;
    position: relative;

    i {
      position: absolute;
      font-size: 30px;
      color: green;
      top: 50%;
      left: 50%;
      transform: translate(-50% , -50%);
    }
  }
}
